div{
    background-color: rgb(147, 180, 206);
    font-size: 20px;
}
body{
    background-color: rgb(46, 8, 133);
}
.button{
    background-color: darkcyan;
    font-size: 20px;
}
.buttonvolver{
    background-color: rgb(255, 115, 0);
}